swiper {
  max-height: 75vh;
  background: linear-gradient(180deg, rgb(0, 0, 0), rgba(255, 255, 255, 0) 100%);
}


fa-icon {
background-color: white;
}

section {
  position: relative;
}

.gradientbot {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0) 100%);
  z-index: 100;
  @media (max-width:740px) {
  width: 30px;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0) 100%);
  }
}


.gradienttop{
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0px;
  background: linear-gradient(360deg,  rgba(255, 255, 255, 0),rgba(0, 0, 0, 1) 100%);
  z-index: 100;
    @media (max-width:740px) {
      right: 0;
        width: 30px;
        height: 100%;
        background: linear-gradient(270deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0) 100%);
      }
}
