<mat-card  (window:resize)="innerwidthCheck()" [ngStyle]="{'background-image':breakpoint ===true ? 'url(' + project.images + ')' : 'none','background-size':'cover'
}">

  <mat-card-content>
    <mat-card-title>{{project.title}}</mat-card-title>
    <p><strong>Description:</strong> {{project.description}}</p>
    <div class="project">
      <ul class="project_tasks">
        <li *ngFor="let task of project.tasks">{{task}}</li>
      </ul>
    </div>
  </mat-card-content>
  <div class="project__links">
    <a [href]="project.gitLink" target="_blank" *ngIf="project.gitLink">
      <fa-icon [icon]="faGithub" [size]="imageSize"></fa-icon>
    </a>
    <a [href]="project.projectLink" target="_blank" *ngIf="project.projectLink">
      <fa-icon [icon]="faLink" [size]="imageSize"></fa-icon>
    </a>
  </div>
  <div class="images__technologies">
    <img *ngFor="let technology of project.technologies; let i = index" [src]="technology" alt="">
  </div>

</mat-card>

<app-project-list [projects]="projects"></app-project-list>
