<div class="project__body">
  <div class="project__img">
  </div>
  <img [src]="project.img" alt="log">
  <h2 class="project__title">
    {{project.title}}
  </h2>
  <h4 class="project__subtitle">{{project.subtitle}}</h4>

  <div class="project__social">
    <a class="project_social-icon" [href]="project.gitLink">
      <fa-icon [icon]="faGithub" size="1x" ></fa-icon>
    </a>
    <a class="project_social-icon" [href]="project.projectLink">
      <fa-icon [icon]="faLink" size="1x"></fa-icon>
    </a>
  </div>
</div>

