mat-toolbar {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  &:hover,
  :focus {
    color: grey;
  }
  @media (width<500px) {
    font-size: 1.5rem;
  }
}

svg {
  path:hover {
    fill: #ff4081;
  }
}

.active {
  color: #ff4081;
}
