mat-toolbar {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 5px;
  list-style: none;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  &:hover,
  :focus {
    color: grey;
  }
}

svg {
  path:hover {
    fill: #ff4081;
  }
}
