* {
  color: white;
}

.title {
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;

  @media (max-width:750px) {
    font-size: 24px;
    line-height: 30px;
  }

  @media (max-width:550px) {
    font-size: 20px;
    line-height: 20px;
  }

}


.flexcontainer {
  padding: 0px 40px;
  display: flex;
  height: 100vh;
  padding-top: 3rem;

  @media (max-width:750px) {
    flex-direction: column;
  }
}

.side {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.statistics {
  display: flex;
  gap: 20px;

  &__item-title {
    font-size: 50px;
    margin: 5px;
  }
}

.bottom {

  width: 100%;
  position: absolute;
  left: 0;
  bottom: 1rem;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
  }

  &__social {
    display: flex;
    gap: 10px;
    align-items: flex-end;
  }
}

.side {
  position: relative;
  max-height: 100%;
  overflow: hidden;
}

fa-icon {
  &:hover {
    transition: 0.5s;
    color: rgb(72, 200, 226);
    ;
  }
}
